Package: com.pba.flextool
Name: FlexTool
Version: 1.0.0
Architecture: iphoneos-arm64
Section: Development
Priority: optional
Depends: firmware (>= 15.0), ellekit | libhooker | substitute, preferenceloader, applist
Recommends: preferenceloader
Description: FLEX-based runtime inspector for UIKit and SwiftUI apps.
 Supports rootless jailbreaks, arm64/arm64e, multi-scene
 and is compatible with LiveContainer for jailbreak-free use.
Maintainer: Paul Bancarel <pspol@hotmail.fr>
Author: Paul Bancarel <pspol@hotmail.fr>
Homepage: https://github.com/ChrisGleich1AufsMaul/FlexToolTweak
Tag: role::developer